	<section id="fh5co-contact" data-section="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-6 to-animate">
					<h3>{{ with .Site.Params.contact.info }}{{ . | markdownify }}{{ end }}</h3>
					<ul class="fh5co-contact-info">
					{{ range .Site.Params.contact.details }}
						<li class="fh5co-contact-address "><i class="{{ with index . 0}}{{ . }}{{ end }}"></i>{{ with index . 1}}{{ . | markdownify }}{{ end }}</li>
					{{ end }}
					</ul>
				</div>
				<div style="margin:15 ;"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf5lkABqWxF2u7AKYM_UcIR-rjio8d1LRSOz6oI689CkYYiHw/viewform?embedded=true" width="640" height="1261" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				</div>
	</section>
